<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="card" style="width: 48rem;">
        <div class="card-header">Ajout d'un Étudiant</div>
        <div class="card-body">
            <form th:action="@{/etudiant/save}" th:method="POST" th:object="${etudiant}">
                <div class="mb-3">
                    <label class="form-label">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Classe</label>
                    <select class="form-control" id="classe" name="classe" th:field="*{classe}" required>
                        <option value="" disabled selected>Choisir une classe</option>
                        <option th:each="classe : ${classes}" th:value="${classe.id}" th:text="${classe.libelle}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Niveau</label>
                    <select class="form-control" id="niveau" name="niveau" th:field="*{niveau}" required>
                        <option value="" disabled selected>Choisir un niveau</option>
                        <option th:each="niveau : ${T(sn.supinfo.projetexamen.constant.Niveau).values()}"
                                th:value="${niveau}"
                                th:text="${niveau}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Spécialité</label>
                    <select class="form-control" id="specialite" name="specialite" th:field="*{specialite}" required>
                        <option value="" disabled selected>Choisir une spécialité</option>
                        <option th:each="specialite : ${T(sn.supinfo.projetexamen.constant.Specialite).values()}"
                                th:value="${specialite}"
                                th:text="${specialite}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Terminer</button>
                <button type="reset" class="btn btn-secondary">Annuler</button>
            </form>
        </div>
    </div>
</div>
</html>
