<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="card" style="width: 48rem;">
        <div class="card-header">
            Modification de la Classe
        </div>
        <div class="card-body">
            <form th:action="@{/classe/update}" th:method="POST" th:object="${classe}">
                <input type="hidden" th:value="${classe.id}" name="id">
                <div class="mb-3">
                    <label class="form-label">Niveau</label>
                    <input type="text" class="form-control" th:value="${classe.niveau}" name="niveau" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Spécialité</label>
                    <input type="text" class="form-control" th:value="${classe.specialite}" name="specialite" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Libellé</label>
                    <input type="text" class="form-control" th:value="${classe.libelle}" name="libelle" required>
                </div>
                <button type="submit" class="btn btn-primary">Terminer</button>
                <button type="reset" class="btn btn-primary">Annuler</button>
            </form>
        </div>
    </div>
</div>
</html>
