<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="card" style="width: 48rem;">
        <div class="card-header">
            Modification de la Classe
        </div>
        <div class="card-body">
            <form th:action="@{/classe/update}" th:method="POST" th:object="${classe}">
                <input type="hidden" th:value="${classe.id}" name="id">
                <div class="mb-3">
                    <label class="form-label">Niveau</label>
                    <select class="form-control" id="niveau" name="niveau" th:field="*{niveau}" required>
                        <option value="" disabled>Choisir un niveau</option>
                        <option th:each="niveau : ${T(sn.supinfo.projetexamen.constant.Niveau).values()}"
                                th:value="${niveau}"
                                th:text="${niveau}"
                                th:selected="${niveau == classe.niveau}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Spécialité</label>
                    <select class="form-control" id="specialite" name="specialite" th:field="*{specialite}" required>
                        <option value="" disabled>Choisir une spécialité</option>
                        <option th:each="specialite : ${T(sn.supinfo.projetexamen.constant.Specialite).values()}"
                                th:value="${specialite}"
                                th:text="${specialite}"
                                th:selected="${specialite == classe.specialite}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Libellé</label>
                    <input type="text" class="form-control" th:value="${classe.libelle}" name="libelle" required>
                </div>
                <button type="submit" class="btn btn-primary">Terminer</button>
                <button type="reset" class="btn btn-primary">Annuler</button>
            </form>
        </div>
    </div>
</div>
</html>
