<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="card" style="width: 48rem;">
        <div class="card-header">Ajout d'un Agent</div>
        <div class="card-body">
            <form th:action="@{/agents/save}" th:method="POST" th:object="${agent}">
                <div class="mb-3">
                    <label class="form-label">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Téléphone</label>
                    <input type="text" class="form-control" id="telephone" name="telephone" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Âge</label>
                    <input type="number" class="form-control" id="age" name="age" required>
                </div>
                <button type="submit" class="btn btn-primary">Terminer</button>
                <button type="reset" class="btn btn-secondary">Annuler</button>
            </form>
        </div>
    </div>
</div>
</html>
