<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="card" style="width: 48rem;">
        <div class="card-header">
            Modification de l'Utilisateur
        </div>
        <div class="card-body">
            <form th:action="@{/user/update}" th:method="POST" th:object="${user}">
                <input type="hidden" th:value="${user.id}" name="id">
                <div class="mb-3">
                    <label class="form-label">Nom</label>
                    <input type="text" class="form-control" th:value="${user.nom}" name="nom" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Prénom</label>
                    <input type="text" class="form-control" th:value="${user.prenom}" name="prenom" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Téléphone</label>
                    <input type="text" class="form-control" th:value="${user.telephone}" name="telephone" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" th:value="${user.email}" name="email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Login</label>
                    <input type="text" class="form-control" th:value="${user.login}" name="login" required>
                </div>
                <button type="submit" class="btn btn-primary">Terminer</button>
                <button type="reset" class="btn btn-primary">Annuler</button>
            </form>
        </div>
    </div>
</div>
</html>
