<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Accueil - Gestion Scolaire</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Accueil - Gestion Scolaire</h1>
    <div>
        <ul>
            <li><a th:href="@{/agent/liste}">Gérer les agents</a></li>
            <li><a th:href="@{/classe/liste}">Gérer les classes</a></li>
            <li><a th:href="@{/etudiant/liste}">Gérer les étudiants</a></li>
            <li><a th:href="@{/user/liste}">Gérer les utilisateurs</a></li>
            <li><a th:href="@{/login}">Se connecter</a></li>
        </ul>
    </div>
</div>
</body>
</html>
